<section class="light" id="education">
    <h2>Education >
        @if (hero is not null)
            {
                <img src="@(hero.Src)" class="title-icon"; 
                    alt="@(hero.Alt)" />
            }
    </h2>
    <div class="education-container">
    @if (educations is null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <div class="container">
            @foreach (var education in educations)
            {
                <div class="box" key="@education.Title">
                    <a>
                        <h3 style="flex-basis: 40px;">@education.Title</h3>
                    </a>
                    <p class="small">@education.Description</p>
                </div>
            }
        </div>
    }
    </div>
</section>

@code {
    [Parameter, EditorRequired]
    public required HttpClient Http { get; set; }

    [Parameter, EditorRequired]
    public required HeroImageService HeroImageService { get; set; }

    private List<EducationCertifs>? educations;
    private HeroImage? hero;

    protected override async Task OnInitializedAsync()
    {
        educations = await Http.GetFromJsonAsync<List<EducationCertifs>>("sample-data/educations.json");
        hero = await HeroImageService.GetHeroAsync(img => img.Name is "education");
    }
}
